.main-elements{
    width: 80%;
    margin: auto;
    margin-top: 4%;
}
.row-1{
    display: flex;
    justify-content: space-evenly;
    gap: 6px;
    flex-wrap: wrap;
}
/* .elements{
    border: 2px solid yellow;
} */
.elements button{
    font-size: 24px;
    padding: 7px 16px;
    width: 150px;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.elements button:hover{
    background-color: rgb(122, 231, 194);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.details{
    margin-top: 3%;
}
.details-div{
    border: 2px solid green;
    border-radius: 10px;
    width: 55%;
    margin: auto;
    height: 400px;
    position: absolute;
    background-color: rgb(250, 250, 250);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-btn{
    right: 0;
    top: 0;
    position: absolute;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(245, 64, 40);
    cursor: pointer;
    margin: 1%;
}
.element-name{
    text-align: center;
    font-size: 35px;
    background-color: bisque;
    padding: 1%;
    margin-top: 7%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.properties-elem{
    position: relative;
    /* border: 2px solid rgb(29, 229, 29); */
    width: 85%;
    margin: auto;
    height: 280px;
    font-size: 22px;
}
.atomic-number{
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid red; */
    margin: 5% 4%;
    padding: 3px;
}
.states{
    position: absolute;
    right: 0;
    top: 0;
    /* border: 2px solid red; */
    margin: 5% 4%;
    padding: 3px;
}
.short-elem-name{
    position: absolute;
    bottom: 0;
    left: 0; 
    /* border: 2px solid red; */
    margin: 5% 4%;
    padding: 3px;  
}
.atomic-weight{  
    bottom: 0;
    right: 0;
    position: absolute;
    /* border: 2px solid red; */
    margin: 5% 4%;
    padding: 3px;
}